<footer class="site__footer">
  <div class="row">
    <div class="large-12 columns text-center">
      <a href="http://www.discoverhannahs.org/events"><img src="{{ "/img/hannahs.png" | prepend: site.baseurl }}" alt="" class="hannahs-logo"></a>
      <hr>
      <p class="text-center text-white"><small>&copy; Dame Hannah Rogers Trust 2014. Dame Hannah Roger’s School, registered charity no. 306948. Dame Hannah Rogers Trust, a limited company registered in England and Wales with number 5512987, and registered as a charity with number 1148882, and whose registered office address is at Woodland Road, Ivybridge, Devon PL21 9HQ is the sole trustee of Dame Hannah Roger’s School.</small></p>
    </div>
  </div>
</footer>
